@import "tailwindcss";
@plugin "daisyui" {
  themes:
    light --default,
    black --prefersdark;
}
@plugin "daisyui/theme" {
  name: "black";
  default: true;
  --radius-selector: 2rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
}
